/* Remember about the '!important' tag*/

.footer-container {
   margin-top:20px;
   background-color: #343434;
   color: #fff;
}

.shop-now {
  width: 200px;
}

.welcome-header {
  font-size: 72px;
  color: #343434;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.welcome-message {
  margin-top: 15px;
  font-size: 24px;
  color: #343434;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.welcome-image {
  height: 500px;
  width: auto;
}

.banner-ad-slider-container {
  margin-top: 50px !important;
}

.checkout-subtotal{
  background-color: #d3d3d3;
}

.img-thumb-top-sellers{
  width: 50%;
  height: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

.img-main{
  height: 50%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 15%;
  margin-bottom: 25%;
}

.img-wrap{
  border: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
}

.solo-product-details {
    margin-bottom: 150px;
}

.website-action-button {
  background-color: #343434;
  border-radius: 0;
  border-color: #343434;
  font-family: "Helvetica", Helvetica, monospace !important;
  color: #fff;
}

.website-secondary-button {
  background-color: #d3d3d3;
  border-radius: 0;
  border-color: #d3d3d3;
  font-family: "Helvetica", Helvetica, monospace !important;
  color: black;
}

.website-action-button:hover, .website-action-button:focus, .website-action-button:active, .website-action-button.active, .open>.dropdown-toggle.website-action-button {
    color: #fff;
    background-color: #343434;
    border-color: black; /*set the color you want here*/
}

.website-secondary-button:hover, .website-secondary-button:focus, .website-secondary-button:active, .website-secondary-button.active, .open>.dropdown-toggle.website-secondary-button {
    color: #fff;
    background-color: #343434;
    border-color: black; /*set the color you want here*/
}

.checkout-controls {
  margin-top: 40px;
}

.checkout-button{
  margin-left: 15px;
  min-width: 100px;
}

.checkout-top-bar{
  margin-bottom: 25px;
  margin-top: 25px;
}

.checkout-address-label{
  margin-top: 10px;
}

body{
  padding-top:135px;
  padding-bottom: 30px;
}

#headerWrapper{
  position:relative;
  padding:0;
  margin:0;
  padding-top: 135px;
  overflow:hidden;
  height:450px;
  background-image: url(../images/headerlogo/background_m_3.png);
  background-repeat: no-repeat;
  background-size: 100% 550px;
  background-position: top center;
  background-attachment:fixed;
}

#partial-headerWrapper{
  position:relative;
  padding:0;
  margin:0;
  padding-top: 100px;
  overflow:hidden;
  height:250px;
  background-image: url(../images/headerlogo/background_m_2.png);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: top center;
  background-attachment:fixed;
}

.container-nav {
  width: 100%;
}

.product-panel {
  min-width: 250px; /*THIS STOPS THE COLUMNS FROM OVERLAPPING!!*/
  font-family: "Helvetica", Helvetica, monospace !important;
}

.img-thumb{
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 40px;
  padding-right: 40px;
  width: 100%;
  height: auto;
}

#footer{

  /*.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  } fyi */
}

img.details{
  width: 100%;
  margin: 15px auto;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.stock-txt{
  font-size: 80%;
  color: #343434;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.scrollable-menu {
  height: auto;
  max-height: 350px;
  width: 255px;
  overflow-x: hidden;
}

.featured_products {
  height: 420px;
  width: 251px;
}

.table-auto {
  /*width:auto;*/
  margin: 0 auto;
}

.btn {
  font-family: "Helvetica", Helvetica, monospace !important;
}

.price {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 90%;
  margin: 10px;
}

.product-add-button {
  margin-left: 5px;
  margin-right: 5px;
}

#add-product-button {
  margin-top: -35px;
}

.saved_image img{
  width: 200px;
  height: auto;
}

#login-form {
  width: 50%;
  height: 60%;
  border: 2px solid #000;
  border-radius: 15px;
  box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.6);
  margin: 7% auto;
  padding: 15px;
  background-color: #fff;
}

#searchBarNav{
  width: 350px;
}

.search {
  margin-top: 32px;
}

.search-bar {
  margin-left: 20px;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.navbar {
  min-height:100px !important;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.navbar-brand {
  font-size: 40px !important;
  line-height: 65px;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.navbar-nav li a.title {
  font-size: 20px;
  line-height: 65px;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.navbar .navbar-nav {
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.categories {
    margin: 0 auto;
    font-family: "Helvetica", Helvetica, monospace !important;
}

.navbar .navbar-search {
    float: none;
    text-align: center;
}

.navbar .navbar-cart {
    float: right;
}

.product_button {
  margin-right: 14px;
}

.stock-alert {
  margin-top: 7px;
}

.out-of-stock {
  color: red;
}

.totals-table-header th{
  text-align: center;
}

.table-cart-total {
  width: 30%;
}

.checkout-button{
  margin-top: 25px;
}

.navbar-nav{
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    margin-top: 20px;
    font-family: "Helvetica", Helvetica, monospace !important;
}

.pageNumber-dropdown {
  margin-top: 20px;
  font-family: "Helvetica", Helvetica, monospace !important;
  margin-left: 20px;
}

#drop1 {
  text-decoration: none;
}

a:hover, a:visited, a:link, a:active{
    text-decoration: none;
}

.product-title {
  max-width: 100%;
  margin: 20px;
  margin-top: 0;
  height: 60px;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.advanced-search {
  margin-top: 20px;
  width: 90%;
}

.page-title-banner{
  height: 150px;
  margin-top: 20px;
  background-color: #343434;
}

.page-title-banner-users{
  height: 60px;
  margin-top: 20px;
  background-color: #343434;
}

.users-container {
  margin-left: 10px;
  margin-right: 10px;
}

.page-title {
  color: #ffffff;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.search-panel {
  background-color: #343434;
  margin-top: 20px;
  color: #ffffff;
  border-radius: 0px;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.collapse-body{
  overflow-y:scroll;
  max-height:300px;
}

#advanced-filter-container {
  overflow-y:scroll !important;
  max-height:300px !important;
}

.search-element{
  display: inline-block;
}

.search-cart{
  color: grey;
  float: right !important;
  margin-top: 35px;
  margin-right: 10px;
  font-family: "Helvetica", Helvetica, monospace !important;
}

.searchbtn{
  padding: 5 !important;
  margin: 0 !important;
  background-color: #fff;
  color: #343434;
}

.navbar-header {
  width: 100%;
}

/* COMING SOON*/
.bgimg {
    height: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    color: black;
    font-family: "Courier New", Courier, monospace;
    font-size: 25px;
}

/* Position text in the middle */
.middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* Style the <hr> element */
hr {
    margin: auto;
    width: 40%;
}

#imaginary_container{
    width: 20%;
    float:none;
    margin: 0 auto;
    display: table;
    table-layout: fixed;
    margin-top: 35px;
}

.stylish-input-group {
    float:none;
    margin: 0 auto;
    margin-top: 30px;
    width: 20%;
}

@media (max-width: 800px) {
  .stylish-input-group {
      float:none;
      margin: 0 auto;
      margin-top: 80px;
      margin-bottom: 20px;
      width: 20%;
  }

  .navbar-toggle {
    margin-top: 28px;
  }
}

.stylish-input-group .input-group-addon{
    background: white !important;
}

.stylish-input-group .form-control{
	border-right:0;
	box-shadow:0 0 0;
	border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

.cart-container{
  margin-top: 25px;
}
